@charset "utf-8";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "susy";

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$orange: #ff6d16;

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

body {
  background-color: #f2eee8;
  line-height: 170%;
}

a {
  color: $orange;
}

.page {
  @include container;
  max-width: 1024px;
  min-width: 1024px;
}

.header-container {
  background-image: url('../images/philipp.jpg');
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

header.splash {
  height: 621px;
  position: relative;

  &>div {
    position:absolute;
    width: 550px;
    right: -20px;
    top: 100px;

    h1 {
      text-transform: uppercase;
      font-weight: 900;
      font-style: italic;
      font-size: 60px;
      line-height: 60px;
      color: $orange
    }
  }
}

.floating {
  float: left;
  margin-right: 40px;
}

.intersect {
  background-color: $orange;
  color: #fff;
  padding-bottom: 24px;
  padding-top: 5px;

  .tag {
    margin-top: 20px;
    font-size: 1.2em;
  }

  h2 {
    padding: 0;
    margin: -0.17em 0 0 20px;
    font-size: 1.5em;
  }
}
h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 4em;
  margin: 0.5em 0 0.2em 0;
  line-height: 110%;
}

.tagline {
  width: 50%;
  margin: 0 auto 80px auto;
  h3 {
    font-size: 2em;
    line-height: 130%;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: #5ee1f2;
  text-align: center;
  padding: 20px 0;
  a {
    display: inline-block;
    padding: 0 0.1em;
    margin: 0 1.6em;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-bottom: 2px solid rgba(255,255,255,0);
    @include transition( border-color 0.3s ease );
    &:hover {
      border-color: rgba(255,255,255,0.8);
    }
  }
}
.fixed {
  position: fixed;
  top: 0;
}

.third {
  @include span-columns( 4 );
  &:last-child {
    @include span-columns( 4 omega );
  }
  &.last {
    @include span-columns( 4 omega );
  }
}

.half {
  @include span-columns( 6 );
  &:last-child {
    @include span-columns( 6 omega );
  }
}

.quarter {
  @include span-columns( 3 );
  &:last-child {
    @include span-columns( 3 omega );
  }
}

.why-mozilla {
  padding-top: 8em;
  padding-bottom: 6em;
  i {
    font-size: 4em;
  }
  h2 {
    margin-bottom: 1em;
  }
  h3 {
    font-weight: 700;
  }
}

.firefox {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-image: url('../images/firefox.png');
  background-repeat: no-repeat;
}

.reasons {
  @include background-image( linear-gradient( to bottom, #630300, #ff6d16 ) );
  color: #fff;
  padding: 8em 0 4em 0;
  margin-top: -250px;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-radius: 22px;
  max-width: 800px;

  .five {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-top: -220px;
    div {
      color: #333;
      font-size: 120px;
      line-height:130%;
      font-weight: 800 !important;
      font-style: italic;
      @include transform( translate( 2px, -2px ) );
    }
  }

  h2 {
    width: 490px;
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    line-height: 110%;
  }

  .page {
    margin-top: 30px;
    ol {
      width: 60%;
      margin-left: 6%;
      p {
        font-size: 1.2em;
      }
      li {
        border-bottom: 1px solid rgba(255,255,255,0.6);
        padding: 10px 0;
      }
      li:last-child {
        border: none;
      }
    }
  }

  &.page {
    min-width: 850px;
  }

  a {
    color: rgba(255,255,255,0.7);
  }
}




.index .process {
  margin-top: 8em;
  text-align: center;
  p {
    @include span-columns( 8, 12 );
    @include prefix( 2 );
  }
  .pano-section {
    position: relative;
    img {
      position: absolute;
      right: -220px;
      top: -80px;
    }
    .pano-link {
      margin-left: -150px;
      i {
        text-shadow: 2px 2px 0 rgba(0,0,0,0.8);
        @include transform( scale( 2 ) );
      }
      margin-bottom: 1em;
    }
  }

  .other-projects {
    margin-top: 3em;
  }
}


.resume {
  margin-top: 8em;
  .even, .odd {
    padding: 40px 0;
  }
  .even {
  //  background-color: #d4d0c9;
  }
}
.odd {
  background-color: #eae5de;
}

.cta {
  background-color: #484744;
  color: #fff;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 200px;
  h2 {
    line-height: 110%;
    margin: 0 0 1em 0 !important;
  }
  span {
    font-size: 1.5em;
    display: inline-block;
    margin-right: 3em;
  }
  span:last-child {
    margin-right: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}



.panorama {
  h1 {
    @extend h2;
    text-align: center;
    font-size: 5em;
    margin: 0;
  }
  h2 {
    margin: 2em 0 1em 0;
  }
}

header.intro {
  background-color: #fff;
  padding: 3em 0 4em 0;
  text-align: center;
  h2 {
    margin: 0 0 1em 0;
  }
  p {
    max-width: 800px;
    margin: 0 auto;
  }
  a {
    position:relative;
    z-index: 30;
    text-decoration: none;
  }
}

a.btn {
  position: relative;
  display: inline-block;
  width: 430px;
  background-color: $orange;
  font-size: 2em;
  line-height: 130%;
  text-transform: uppercase;
  font-style: italic;
  color: #fff;
  padding: 0.3em 0.2em;
  margin-top: 1em;
  text-decoration: none;
  @include transition( background-color 0.3s ease );
  span {
    display: inline-block;
    width: 300px;
  }
  i {
    display: inline-block;
    font-size: 3em;
  }
  &:hover {
    background-color: #fc4d07;
  }
}

.why {
  background-color: #e2ddd6;
  h2 {
    margin-top: 0;
    padding-top: 2.5em;
  }
  padding-bottom: 5em;
}

.panorama .process {
  margin-top: 6em;
  h3 {
    font-weight: 700;
  }
}

.framework {
  text-align: center;
  h3 {
    font-size: 3em;
    margin-top: -0.3em;
    font-weight: 300!important;
  }
  p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .framework-graphic {
    position: relative;
  }
  .descr {
    width: 200px;
    padding: 20px 16px;
    text-align: left;
    position: absolute;
    background-color: #eae5de;
    border: 3px solid #fff;
    top:0;
    display: none;
    @include box-shadow( 0 0 14px rgba(0,0,0,.6) );
  }
  .arrow-left:after, .arrow-left:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .arrow-left:after {
    border-color: rgba(234, 229, 222, 0);
    border-right-color: #eae5de;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
  }
  .arrow-left:before {
    border-color: rgba(0,0,0,0);
    border-right-color: #fff;
    border-width: 24px;
    top: 50%;
    margin-top: -24px;
  }

  .arrow-right:after, .arrow-right:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .arrow-right:after {
    border-color: rgba(234, 229, 222, 0);
    border-left-color: #eae5de;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
  }
  .arrow-right:before {
    border-color: rgba(0,0,0,0);
    border-left-color: #fff;
    border-width: 24px;
    top: 50%;
    margin-top: -24px;
  }
}
.what-about {
  margin-bottom: 6em;
  h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
  }
}

.sketch {
  border: 4px solid #cbc7c0;
}

.span-two {
  @include span-columns( 2 );
}
.side {
  @include span-columns( 8 omega );
}

.gallery {
  img {
    position: relative;
    width: 167px;
  }
}

.prototype {
  margin-bottom: 8em;
}

.huge {
  font-size: 2em;
  line-height: 140%;
  margin-top: -0.5em;
}