
<a name="top"></a>
<section class="header-container">
	<div class="page">
		<header class="splash">
			<div>
				<h1>Philipp is ready for Mozilla</h1>
			</div>
		</header>
	</div>
</section>

<section class="intersect">
	<div class="page">
		<div class="floating tag"><h2>Philipp Sackl</h2></div>
		<div class="floating tag">Interaction Designer</div>
		<div class="floating tag">Crazy in love with the web</div>
		<div class="floating tag">6 years of experience</div>
	</div>
</section>

<section class="page">
	<section class="tagline">
		<h3>Hello Mozilla. I want to help you make the best browser on earth.</h3>
		<p>I am currently an interaction designer and managing director at envis&nbsp;precisely in Munich, and <a href="http://careers.mozilla.org/en-US/position/otEaXfwY" target="_blank">this job</a> has my face on it.</p>
	</section>
</section>


<nav>
	<div class="page">
		<a href="#top"><i class="icon-arrow-up"></i></a>
		<a href="#why-mozilla">Why Mozilla?</a>
		<a href="#reasons">Reasons to pick me</a>
		<a href="#process">Process &amp; Projects</a>
		<a href="#resume">Resumé</a>
		<a href="#contact">Contact me</a>
	</div>
</nav>

<a name="why-mozilla"></a>
<section class="page why-mozilla">
	<h2>Why Mozilla?</h2>
	<div class="third">
		<i class="icon-user"></i>
		<h3>Working truly user centered</h3>
		<p>
			What would be possible if we weren't beholden to shareholders or business analysts, but only to our users? Mozilla is the living and breathing answer to this question. I&nbsp;mean, how awesome is that!?
		</p>
	</div>
	<div class="third">
		<i class="icon-rocket"></i>
		<h3>The next level</h3>
		<p>
			I like my current job as UX designer and managing director at my own design studio. But working on Firefox is a different kind of beast. Creating software that improves the lives of half a billion people is both exciting and scary. Mostly exciting though.
		</p>
	</div>
	<div class="third">
		<i class="icon-heart"></i>
		<h3>Well, I'm selfish</h3>
		<p>
			The web is part of my life and Firefox is my window to the web. By making firefox better, I'll directly improve my life along with the lives of millions of others. Everyone wins!
		</p>
	</div>
</section>

<a name="reasons"></a>
<figure class="firefox"></figure>
<section class="reasons page">
	<div class="five"><div>5</div></div>
	<h2>Reasons for Mozilla to pick me</h2>
	<div class="page">
		<ol>
			<li>
				<p>
					<strong>I cross the borders of disciplines.</strong>
					So far I have worked on apps, websites, installations, embedded systems and exhibitions. This gives me a wide field of experience to build upon. Because innovation doesn’t happen by getting comfortable inside a box.
				</p>
			</li>
			<li>
				<p>
					<strong>This isn't any job to me.</strong>
					Leaving my own company was not an easy decision. I am prepared to pour my heart and soul into the advancement of Firefox, Mozilla and the web.
				</p>
			</li>
			<li>
				<p>
					<strong>Code is part of my code.</strong>
					My heart belongs to design, but my hands itch to write code. It is my weapon of choice for prototyping – because in software design, nothing beats reality. In addition, being able to write and understand code makes it much easier to work with developers.<br><a href="https://github.com/phlsa/ready-for-mozilla" target="_blank">Hell, even this page is on Github!</a>
				</p>
			</li>
			<li>
				<p>
					<strong>I get real.</strong>
					Let’s face it, ideas are worthless. The user doesn’t experience an idea, he experiences what is made of an idea. Creating tangible results is not the end of my process – it is the essence of my work.
				</p>
			</li>
			<li>
				<p>
					<strong>To boldly go…</strong>
					No one told me to start my own company or to be the first interaction designer at BMWs advanced design studio. I don't ask for the permission to do great work.
				</p>
			</li>
		</ol>
	</div>
</section>

<a name="process"></a>
<section class="process">
	<div class="page">
		<h2>Process &amp; Projects</h2>
		<p>
			I could write about how I have approached projects in the past and try to explain my process.
			<strong>But showing beats telling.</strong>
			That’s why I took on the task of redesigning a feature of Firefox that I felt needed some work.
		</p>
		<div class="pano-section">
			<a href="panorama" class="btn pano-link" style="width:550px">
				<i class="icon-rocket" style="margin-left:20px"></i><span style="width:360px; margin-left:40px;">Watch me rethink Firefox Panorama</span>
				<img src="images/tabspaces.png">
			</a>
		</div>
		<p class="other-projects">
			<small>If you are interested in other projects, please have a look at the <a href="http://envis-precisely.com/projects" target="_blank">portfolio of my company envis precisely</a>. I was involved in almost every project shown there. I’m especially proud of <a href="http://envis-precisely.com/projects/mereko" target="_blank">Mereko</a>, <a href="http://envis-precisely.com/projects/bilbaoo" target="_blank">Bilbaoo</a> and <a href="http://envis-precisely.com/projects/skoobe-android" target="_blank">Skoobe</a>.</small>
		</p>
	</div>
</section>

<a name="resume"></a>
<section class="resume">
	<div class="page">
		<h2>Resumé</h2>
	</div>

	<div class="odd">
		<div class="page">
			<div class="third">
				<h3>Sr. User Experience Designer<br> and Managing Director</h3>
				<p>
					<a href="http://envis-precisely.com" target="_blank">envis precisely, Munich</a><br>
					<small>
						2009–present<br>
						<span class="hashtag">#TeamLead</span> <span class="hashtag">#SeniorUX</span> <span class="hashtag">#Entrepreneur</span>
					</small>
				</p>
			</div>
			<div class="third">
				<p>
					<strong>What I did</strong><br>
					Leading a team of 2-6 people, I have delivered projects ranging from mobile apps over desktop software all the way to interactive installations. Check them out on our <a href="http://envis-precisely.com/projects" target="_blank">portfolio!</a>
				</p>
			</div>
			<div class="third">
				<p>
					<strong>What I learned</strong><br>
					Design isn't about devices, it’s about people. And no matter whether the software you’re building is running on a phone, a desktop, or on some custom hardware in an installation - there’s always a human being at the other end of that interface.
				</p>
			</div>
		</div>
	</div>

	<div class="even">
		<div class="page">
			<div class="third">
				<h3>University Lecturer</h3>
				<p>
					<a href="http://www.hfg-gmuend.de/" target="_blank">HfG Schwäbisch Gmünd</a><br>
					<small>
						2009–present<br>
						<span class="hashtag">#Teacher</span>
					</small>
				</p>
			</div>
			<div class="third">
				<p>
					<strong>What I did</strong><br>
					Teaching design basics, interface design and creative programming at one of Europe's most renown universities of design.
				</p>
			</div>
			<div class="third">
				<p>
					<strong>What I learned</strong><br>
					Teaching is the most elaborate form of learning. Talking to curious students challenges my views and pushes me to refine and sometimes rethink my argumentation.
				</p>
			</div>
		</div>
	</div>

	<div class="odd">
		<div class="page">
			<div class="third">
				<h3>UX Coach</h3>
				<p>
					<a href="http://envis-precisely.com" target="_blank">envis precisely, Munich</a><br>
					<small>
						2010–present<br>
						<span class="hashtag">#UXforDevelopers</span> <span class="hashtag">#CodeForDesigners</span>
					</small>
				</p>
			</div>
			<div class="third">
				<p>
					<strong>What I did</strong><br>
					I helped developers learn user centered design processes and guided designers through their first steps in coding.
				</p>
			</div>
			<div class="third">
				<p>
					<strong>What I learned</strong><br>
					Building understanding is the best form of persuasion. It is surprising what you can bring out of people when they start to believe in a goal.
				</p>
			</div>
		</div>
	</div>

	<div class="even">
		<div class="page">
			<div class="third">
				<h3>Interaction Designer</h3>
				<p>
					<a href="http://bmw.com" target="_blank">BMW Group, Munich</a><br>
					<small>
						2008–2009<br>
						<span class="hashtag">#PhysicalInteraction</span> <span class="hashtag">#ConceptCars</span>
					</small>
				</p>
			</div>
			<div class="third">
				<p>
					<strong>What I did</strong><br>
					I was the first interaction designer at BMWs Advanced Design Studio. This is the place where they make internal concept cars that shape the vision for future BMW products. I heavily focused on creating a new kind of 3D display and interaction concept. The Interface in BMWs fully electric <a href="http://www.bmwblog.com/2009/08/29/bmw-vision-efficientdynamics-photo-gallery/bmw-vision-efficientdynamics-concept-70/" target="_blank">Vision Efficient Dynamics Showcar</a> is based on my work.
				</p>
			</div>
			<div class="third">
				<p>
					<strong>What I learned</strong><br>
					Talk is cheap. And the bigger the company, the less likely you are heard. But actually creating prototypes and letting people experience the magic can unite a team and go a long way.
				</p>
			</div>
		</div>
	</div>

	<div class="odd">
		<div class="page">
			<div class="third">
				<h3>Studied Information Design</h3>
				<p>
					<a href="http://www.fh-joanneum.at/aw/home/Studienangebot_Uebersicht/department_medien_design/~czd/ind/?lan=en" target="_blank">FH Joanneum, Graz</a><br>
					<small>
						2005–2008, graduated with honors<br>
						<span class="hashtag">#WorkHardPlayHard</span>
					</small>
				</p>
			</div>
			<div class="third">
				<p>
					<strong>What I did</strong><br>
					My education allowed me to dip into many areas like communication design, motion design or type design. In the end I specialized in user interface design, because I felt that it was going to have the most relevance in the future.
				</p>
			</div>
			<div class="third">
				<p>
					<strong>What I learned</strong><br>
					Realized that you don't have to ask for the permission to do great work. Going beyond the standard always pays off.
				</p>
			</div>
		</div>
	</div>
</section>

<a name="contact"></a>
<section class="cta">
	<div class="page">
		<p>Alright, Mozilla. I already know you, now you know me too.</p>
		<h2>Let's do this.<br> Together.</h2>
		<p>
			<span><i class="icon-phone"></i> +49 151 566 78 520</span>
			<span><i class="icon-envelope"></i> <a href="mailto:hey@philippsackl.com">hey@philippsackl.com</a></span>
			<span><i class="icon-skype"></i> philippsackl</span>
		</p>
	</div>
</section>