---
title: Rethinking Panorama / Philipp is ready for Mozilla
---

<header class="intro">
	<div class="page">
		<a href="http://readyformozilla.com"><i class="icon-chevron-sign-left"></i> Back to my Resumé</a>
		<h1>Rethinking Panorama</h1>
		<p class="huge">
			Panorama (a.k.a. tab groups) is a great feature. Whenever I tell someone about it, people love the idea.<br>
			<strong>But I think it can get even better.<br> Let me show you how.</strong>
		</p>
		<a class="btn navlink" href="#prototype"><i class="icon-chevron-sign-down"></i> <span>Straight to the result, please.</span></a>
	</div>
</header>

<nav>
	<div class="page">
		<a href="#process">Process</a>
		<a href="#use-cases">Use Cases</a>
		<a href="#goals">Goals</a>
		<a href="#sketches">Sketches</a>
		<a href="#wireframes">Wireframes</a>
		<a href="#prototype">Prototype</a>
	</div>
</nav>

<a name="process"></a>
<section class="process">
	<div class="page what-about">
		<h2>My Process:<br> The UX Framework</h2>
		<p class="huge">
			There are as many design processes as there are designers out there. But when we break them down, we can see three core values of User Experience Design.
		</p>

		<div class="third">
			It's not about technology,<br>
			<h3>it's about people.</h3>
		</div>
		<div class="third">
			It's not about process,<br>
			<h3>it's about results.</h3>
		</div>
		<div class="third last">
			It's not about getting it right on the first shot,<br>
			<h3>it's about speed.</h3>
		</div>
	</div>


	<div class="page framework">
		<p>
			To stay true to these values, we don't need a rigid design process.
		</p>
		<h3>We need a UX Framework.</h3>
		<div class="framework-graphic">
			<map id="framework-map" name="framework-map">
				<area shape="rect" coords="28,75,175,165"  alt="Business Goals" title="Business Goals" data-popup="d-business-goals">
				<area shape="rect" coords="29,230,176,320"  alt="User Goals" title="User Goals" data-popup="d-user-goals">
				<area shape="rect" coords="28,385,175,475"  alt="Requirements" title="Requirements" data-popup="d-requirements">
				<area shape="rect" coords="217,241,364,331"  alt="Functionality" title="Functionality" data-popup="d-functionality">
				<area shape="rect" coords="450,85,597,175"  alt="Visuality" title="Visuality" data-popup="d-visuality">
				<area shape="rect" coords="478,369,625,459"  alt="Interactivity" title="Interactivity" data-popup="d-interactivity">
				<area shape="rect" coords="387,257,534,347"  alt="Prototypes" title="Prototypes" data-popup="d-prototypes">
				<area shape="rect" coords="726,115,873,205"  alt="Inspections" title="Inspections" data-popup="d-inspections">
				<area shape="rect" coords="727,348,874,438"  alt="User Tests" title="User Tests" data-popup="d-user-tests">
			</map>
			<img src="../images/framework.png" usemap="#framework-map">

			<div class="descr arrow-left d-business-goals" style="left:232px; top:22px">
				<strong>Business Goals</strong>
				In every project, some business goals are involved. It is our job as designers to bring them in line with the goals of the user.
			</div>
			<div class="descr arrow-left d-user-goals" style="left:232px; top:180px">
				<strong>User Goals</strong>
				User research and user modelling informs us about the needs and desires of the people we are beholden to.
			</div>
			<div class="descr arrow-left d-requirements" style="left:232px; top:315px">
				<strong>Requirements</strong>
				Different contexts have different requirements and we need to be aware of them. A desktop app is different than a mobile app or an embedded system.
			</div>
			<div class="descr arrow-right d-functionality" style="left:58px; top:200px;">
				<strong>Functionality</strong>
				What does it do? The answer to this question should be based on the user goals.
			</div>
			<div class="descr arrow-right d-interactivity" style="left:320px; top:334px">
				<strong>Interactivity</strong>
				How does it work? What are the actions a user can take and how does the system respond?
			</div>
			<div class="descr arrow-right d-visuality" style="left:300px; top: 34px">
				<strong>Visuality</strong>
				What does it look like? How are the interactions communicated? How is information presented?
			</div>
			<div class="descr arrow-right d-prototypes" style="left:235px; top:146px">
				<strong>The Prototype</strong>
				This is what it's all about. In the UX framework there is always a prototype. It starts out with a very low fidelity so that we can iterate our way up towards high fidelity. Always having a prototype means always having something real to talk about.
			</div>
			<div class="descr arrow-right d-inspections" style="left:570px; top:60px">
				<strong>Inspections</strong>
				We can inspect our prototype by testing it against heuristics or guidelines. This is fastest method of evaluating a concept.
			</div>
			<div class="descr arrow-right d-user-tests" style="left:570px; top:288px">
				<strong>User Tests</strong>
				Because we always have a prototype, we can continuously do user tests and see if our concept matches the expectations.
			</div>

			<p><strong>Move your mouse over the icons to see descriptions</strong></p>
			<p>
				I created this framework together with my friends at envis precisely and it has been a great guide through our projects. The key is that there is no step by step process. Instead, it is a map of the variables we need to consider in order to design for great user experiences.
			</p>
		</div>
	</div>
</section>


<a name="use-cases"></a>
<section class="use-cases">
	<div class="page">
		<h2>Use Cases:<br> Building the right thing</h2>
		<div class="quarter">
			<img src="../images/use-cases.png">
		</div>
		<p class="huge side">
			What do people actually use or want to use panorama for? Researching forums, Bugzilla, Telemetry and questioning some people around me, I have identified these use cases.
		</p>
	</div>
	<div class="page">
		<div class="third">
			<h3>Organize huge amounts of tabs</h3>
			<p>
				Users reporting this behavior mostly had permanent tab groups with permanently opened tabs. They invested time organizing those groups, so losing one of them would be unacceptable.
			</p>
		</div>
		<div class="third">
			<h3>Finding an opening tab visually</h3>
			<p>
				This is what most people think panorama is, when I tell them about it. The grouping feature is mostly a second thought after the »I need to find that tab with the yellow header« use case. In addition, telemetry shows that <a href="http://bit.ly/19CdB7o" target="_blank">almost 60% of people using panorama only have one tab group</a>.
			</p>
		</div>
		<div class="third last">
			<h3>Clean up tabs</h3>
			<p>
				When users have opened a great number of tabs, it becomes harder and harder to get rid of them. So they use Panorama to get a better overview and selectively close tabs.
			</p>
		</div>
	</div>
	<div class="page">
		<p style="max-width: 800px;">
			Notice how only one of those use cases actually utilizes the grouping functionality.<br>The others mainly see Panorama as a tab overview and switcher.
		</p>
	</div>
</section>

<a name="goals"></a>
<section class="sketches">
	<div class="page">
		<h2>Design Goals</h2>
		<div class="quarter">
			<img src="../images/goals.png">
		</div>
		<p class="huge side">
			Having these use cases in mind, we can extract clear goals for what Panorama should be according to this data.
		</p>
	</div>
	<div class="page">
		<div class="third">
			<h3>Easy in, easy out</h3>
			<p>
				People use panorama as a task switcher (whether that was intended or not). So getting in, finding a tab and then getting out again must be fast and easy.
			</p>
		</div>
		<div class="third">
			<h3>Don't enforce organization</h3>
			<p>
				Oranizing tabs is a meta work. It should be possible to do, but the focus shouldn't be the activity of oranization itself.
			</p>
		</div>
		<div class="third last">
			<h3>Manage groups effortlessly</h3>
			<p>
				Some people just have gigantic amounts of tabs. Those are the people who really need groups. So it would be great to provide them with a way, that makes working with many tabs just as effortless as working with a few tabs.
			</p>
		</div>
	</div>
</section>

<a name="sketches"></a>
<section class="proposal">
	<div class="page">
		<h2>Sketches</h2>
		<div class="quarter">
			<img src="../images/sketching.png">
		</div>
		<p class="huge side">
			My first steps towards a solution were a series of sketches. I always try to start with smaller features and then work my way towards the big picture. That way, I can get familiar with a problem and don’t have to solve everything at once.
		</p>
	</div>
	<div class="page">
		<img src="../images/sketches.png" class="sketch">
		<p>
			Various sketches that helped me understand the problem and the possibilities better. As you see, some ideas were quickly discarded, others were continually refined. The sketch in the top right corner was the last one.
		</p>

		<div class="third">
			<p>
				<strong>I quickly discarded the spatial organization that panorama currently uses.</strong> While it is easy to find a tab spatially, there is a big decision toll associated with the process of laying out the various groups on the canvas.
			</p>
		</div>

		<div class="third">
			<p>
				<strong>I wanted to preserve the benefit of spacial recognition while getting rid of the organizational overhead.</strong> Fortunately, this can be done rather easily by laying out the groups automatically.
			</p>
		</div>

		<div class="third">
			<p>
				 <strong>I also got rid of the idea that tabs in all groups must be visible all the time.</strong> This would only be useful, if people switched frequently switched between groups. While I couldn’t find any hard data on this behavior, people on various forums were mostly talking about how they use tab groups as workspaces. This, combined with the fact that most people have only one group, means that most switching happens within a group and not between them.
			</p>
		</div>
	</div>
</section>

<a name="wireframes"></a>
<section class="wireframes">
	<div class="page">
		<h2>Wireframes</h2>
		<div class="quarter">
			<img src="../images/wireframing.png">
		</div>
		<p class="huge side">
			After finding a general direction with sketches, I get into the pixels with wireframes. The main point of this is that sketches can be deceitful when it comes to space. Things that look pretty in sketches often fall apart when you take actual font sizes and screen real estate into account.
		</p>
	</div>

	<div class="gallery page" data-gallery="1">
		<img src="../images/wireframes/wf.001.jpg">
		<img src="../images/wireframes/wf.002.jpg">
		<img src="../images/wireframes/wf.003.jpg">
		<img src="../images/wireframes/wf.004.jpg">
		<img src="../images/wireframes/wf.005.jpg">
		<img src="../images/wireframes/final.jpg">
	</div>
	<div class="page">
		<div class="half">
			<img src="../images/wireframes/final.jpg" style="width: 100%" data-gallery="1">
		</div>
		<div class="half last">
			<iframe src="http://player.vimeo.com/video/71677318?title=0&amp;byline=0&amp;portrait=0" width="503" height="377" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>

	<div class="page">
		<div class="half last">
			<h3>Static Wireframes</h3>
			<p>
				Again, I try to take the fastest path towards reality. That’s why I don’t use a special wireframing tool (which would probably trick me into caring for symbols, masters and interactivity). I just use Keynote an copy &amp; paste my way towards a better solution.
			</p>
			<p>
				As you see, the wireframes are not just a pixel version of the sketches.
			</p>
		</div>
		<div class="half last">
			<h3>Animations</h3>
			<p>
				Wireframes are a good start, but they are static states with little context. That's why I sometimes, create little animations which double as half-functional prototypes – so evaluate what is happening between the panels.
			</p>
			<p>
				In this case, I just quickly animated the transition between the regular view and the tab overview. Easy enough to do in Keynote.
			</p>
		</div>
	</div>
</section>


<a name="prototype"></a>
<section class="prototype">
	<div class="page">
		<h2>Prototype:<br> Because nothing beats reality</h2>
		<div class="quarter">
			<img src="../images/prototype.png">
		</div>
		<p class="huge side">
			The first shot of this concept is ready for prime time! Combining all the observations and ideas so far, I created this little prototype. This way, we now have something that can be easily communicated and easily tested.
		</p>
	</div>
	<div class="page" style="text-align: center">
		<a class="btn try-the-prototype" href="http://readyformozilla.com/panorama/prototype" target="_blank"><i class="icon-rocket"></i><span>Try the prototype!</span></a>
	</div>

</section>



<section class="cta">
	<div class="page">
		<p>Alright, Mozilla. You've seen how I work.</p>
		<h2>Let's do this.<br> Together.</h2>
		<p>
			<span><i class="icon-phone"></i> +49 151 566 78 520</span>
			<span><i class="icon-envelope"></i> <a href="mailto:hey@philippsackl.com">hey@philippsackl.com</a></span>
		</p>
		<i class="icon-chevron-sign-left"></i> <a href="http://readyformozilla.com">Back to my Resumé</a>
	</div>
</section>